<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Registro</h1>
    <a href="/">Inicio</a>
    <form action="/auth/register" method="POST">

      <label>
        <p>Nombre</p>
        <input type="text" name="name" />
      </label>

      <label>
        <p>Email</p>
        <input type="text" name="email" />
      </label>

      <label>
        <p>Contraseña</p>
        <input type="password" name="password" />
      </label>

      <button type="submit">
        Registrarme
      </button>
    </form>
  </body>
</html>