<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{msg}}</h1>
    <a href="/movies">Movies</a>
    <a href="/movies/create">Crear</a>
    <a href="/theaters">Theaters</a>
</body>
</html>