<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Movie</title>
  </head>
  <body>
    <h1>Create Movie</h1>
    <a href="/">Inicio</a>
    <a href="/movies">Volver</a>
    <form action="/movies/create" method="POST">
      <label>
        <p>title</p>
        <input type="text" name="title" placeholder="title" />
      </label>

        <label>
        <p>director</p>
        <input type="text" name="director" placeholder="director" />
      </label>

      <label>
        <p>premiere</p>
        <input type="date" name="color" placeholder="color" />
      </label>

      <p>genere</p>
        <input type="text" name="genere" placeholder="genere" />
      </label>

      <label>
        <p>Prequel?</p>
        <input type="checkbox" name="havePrequel"/>
      </label>

      <label>
        <p>Sequel?</p>
        <input type="checkbox" name="havePrequel"/>
      </label>

       <button type="submit">Enviar</button>

    </form>
  </body>
</html>