<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Todas nuestras peliculas</h1>
    <a href="/">Inicio</a>
    <a href="/movies/create">Crear</a>

    <form action="/auth/logout" method="POST">
    <button type="submit">
        Cerrar Sesión
      </button>
    </form>


    <ul>
    {{#each movies}}
      <li>
        <h3>Name: {{ this.title }}</h3>
        <p>director: {{ this.director }}</p>
        <p>premium: {{ this.premiere}}</p>
        <p>genere:{{this.genere}}</p>
        <p>prequel: {{ this.havePrequel }}</p>
        <p>sequel: {{ this.haveSequel }} </p>
        <form action="/movies/delete/{{_id}}?_method=delete" method="POST">

              <button type="submit">Eliminar peliculas</button>

        </form>
        <hr>
      </li>
    {{/each}}
  </ul>

</body>
</html>