<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de {{title}}</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/movies">Volver</a>

    <h1>Pelicula:</h1>

    {{#if movie}}
        <h2>Página de {{movie.title}}</h2>
        <h4>director: {{movie.director}}</h4>
        <h4>Premiere: {{movie.premiere}}</h4>
        <h4>Prequel: {{movie.havePrequel}}</h4>
        <h4>Sequel: {{movie.haveSequel}}</h4>

        <a href="/movies/{{pet._id}}/edit">
            <button>Editar peliculas</button>
        </a>
    {{else}}
        <h3>No existe la pelicula que buscas</h3>
    {{/if}}

</body>
</html>